@font-face {
  font-display: swap;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/besley-v20-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Besley';
  font-style: italic;
  font-weight: 900;
  src: url('../assets/fonts/besley-v20-latin-900italic.woff2') format('woff2');
}